*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
}
.header{
  height: 150px;
  background-color: rgb(70, 211, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.header h1{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
}
.header input{
  height: 40px;
  width: 350px;
  border-radius: 12px;
  border: none;
  padding-left: 15px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 40px;
}